nav ul li {
	display: inline-block;
	&+li {
		margin-left: 50px;
	}
	a {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		height: 100px;
		line-height: 100px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.6);
		transition: all 0.3s;
		&:hover {
			color: #FFFFFF;
			border-bottom: 1px solid #ffffff;
			transition: all 0.3s;
		}
	}
}